.header {
    background: white;
    height: 80px;

}

.header-content {
   width: 80%;
   display: flex;
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
}

.header-logo {
    height: 25px;
    margin-top: 23px;
}

.header-separator {
    background: #efefef;
    height: 40px;
    width: 2px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

ul {
    margin-top: 28px;
    padding: 0;
    display: flex;
}

li {
    list-style: none;
}

li a {
    color: #0099fe;
    text-decoration: none;
    font-size: 18px;
}

.header-menu-list-item {
    margin-left: 15px;
}

.header-menu-list-item-selected a {
    color: black;
    font-weight: bold;
}

li:not(.header-menu-list-item-selected) a:hover {
    color: red;
}

.second-header{
     background: #09f;
     height: 40px;
}

.header-with-find {
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right:auto;
}

.finder {
    background: white;
    height: 30px;
    width: 450px;
    position: relative; top: 5px;

    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: none;
}

.background{
    background:none;
    width: 80%;
    height: 475px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.world-map{
    width: 680px;
    height:80%;
    border-radius: 10px 10px 0 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.weather-info-top{
    background: white;
    height: 315px;
    width: 640px;
    position: relative; bottom :77%;
    margin-left: 20px;
    border-radius: 10px 10px 0 0;
}

.weather-info-bottom{
    background: #09f;
    height: 40px;
    width: 640px;
    position: relative; bottom :78.7%;
    margin-left: 20px;
    border-radius: 0 0 10px 10px;
}

.info-separator{
    background: #ccc;
    height: 55%;
    width: 1px;
    margin-left: 40%;
    position: relative; bottom : 145%;
}

.today-item {
    background: #09f;
    height: 40px;
    width: 13%;
    position: relative; bottom: 142.1%;
    margin-left: 20px;
    border-radius: 0 0 0 10px;
}

.today-item:hover{
    background:#75d2ff;
}

.today{
    position: relative; top: 8px; left: 20px;
    color: white;
    font-size: 16px;
}





