.header {
    background: white;
    height: 80px;
}

.header-content {
    width: 80%;
    margin-left: 15%;
    display: flex;
}

.header-logo {
    height: 25px;
    margin-top: 23px;
}

.header-separator {
    background: #efefef;
    height: 40px;
    width: 2px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

ul {
    margin-top: 28px;
    padding: 0;
    display: flex;
}

li {
    list-style: none;
}

li a {
    color: #0099fe;
    text-decoration: none;
    font-size: 18px;
}

.header-menu-list-item {
    margin-left: 15px;
}

.header-menu-list-item-selected a {
    color: black;
    font-weight: bold;
}

li:not(.header-menu-list-item-selected) a:hover {
    color: red;
}

.header-with-find {
    background: #09f;
    height: 40px;
}

.finder {
    background: white;
    height: 30px;
    width: 35%;
    position: relative; top: 5px;
    margin-left:15%;
    border-radius: 10px;
}

.finder-icon {
    height: 20px;
    margin-left: px;
    margin-top: 10px;
}

.background{
    background:white;
    width: 50%;
    height: 475px;
    margin-left:15%;
    margin-top: 20px;
    border-radius: 10px;
}

.world-map{
    width: 100%;
    height:375px;
    border-radius: 10px 10px 0 0;
}

.weather-info-top{
    background: white;
    height: 46%;
    width: 47%;
    position: absolute; bottom :30%;
    margin-left: 20px;
    border-radius: 10px 10px 0 0;
}

.weather-info-bottom{
    background: #09f;
        height: 6%;
        width: 47%;
        position: absolute; bottom :24%;
        margin-left: 20px;
        border-radius: 0 0 10px 10px;
}